<launch>
    <!-- Launch USB Camera Node -->
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
        <param name="video_device" value="/dev/video0"/>
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
        <param name="framerate" value="30"/>
        <param name="pixel_format" value="yuyv"/>
        
        <!-- Remap base topic -->
        <remap from="/usb_cam/image_raw" to="/camera/image"/>
        <remap from="/usb_cam/camera_info" to="/camera/camera_info"/>
        <remap from="/usb_cam/set_camera_info" to="/camera/set_camera_info"/>
    
        <param name="camera_name" value="narrow_stereo"/>
        <param name="camera_info_url" value="file:///home/volvo4/catkin_ws/src/turtlebot3_autorace_2020/turtlebot3_autorace_camera/calibration/intrinsic_calibration/camera.yaml"/>
    </node>
</launch>
